.logo,
.card {
  margin-top: 15px;
}

.activator {
  /* display: block; */
  max-width:50vh;
  max-height:30vw;
  width: auto;
  height: auto;
}

.blurguy {
  background: url('../Images/office.jpg') no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(8px);
  z-index: -1;

}

.card-image {
  display: flex;
  justify-content: space-around;
  position: relative;
}
