.logo,
.card {
  margin-top: 15px;
}

.activator {
  /* display: block; */
  max-width:50vh;
  max-height:30vw;
  width: auto;
  height: auto;
}

.card-image {
  display: flex;
  justify-content: space-around;
}

.alert_container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
}

.alert_box {
  position: relative;
  width: 300px;
  min-height: 100px;
  margin-top: 50px;
  border: 1px solid #666;
  background-color: #fff;
}

.alert_box h1 {
  font-size: 0.9em;
  margin: 0;
  background-color: #1560bd;
  color: #fff;
  border-bottom: 1px solid #000;
  padding: 2px 0 2px 5px;
}

.alert_box p {
  font-size: 0.7em;
  height: 50px;
  margin-left: 55px;
  padding-left: 5px;
}

.close_btn {
  width: 70px;
  font-size: 0.7em;
  display: block;
  margin: 5px auto;
  padding: 7px;
  border: 0;
  color: #fff;
  background-color: #1560bd;
  border-radius: 3px;
  cursor: pointer;
}
  